.version.index /* version checker */
{
	color: #00001A;
	background-color: #F8C17D;
}

#page
{
	z-index: 1;
	width: 921px;
	min-height: 908px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 19px 62px 20px;
}

#u94-4
{
	z-index: 2;
	width: 533px;
	min-height: 82px;
	background-color: transparent;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	margin-left: 235px;
	position: relative;
}

#u138-4
{
	z-index: 9;
	width: 366px;
	min-height: 54px;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	margin-left: 313px;
	margin-top: 44px;
	position: relative;
}

#pu97
{
	width: 0.01px;
	margin-top: 23px;
}

#u97
{
	z-index: 6;
	width: 293px;
	height: 184px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/8.jpg") no-repeat left top;
	background-size: cover;
}

#u156
{
	z-index: 7;
	width: 293px;
	height: 184px;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: transparent url("../images/10.jpg") no-repeat left top;
	background-size: cover;
}

#u174
{
	z-index: 8;
	width: 293px;
	height: 184px;
	position: relative;
	margin-right: -10000px;
	left: 627px;
	background: transparent url("../images/26.jpg") no-repeat left top;
	background-size: cover;
}

#pu141-4
{
	width: 0.01px;
	margin-top: 32px;
}

#u141-4
{
	z-index: 13;
	width: 293px;
	min-height: 44px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u159-4
{
	z-index: 17;
	width: 293px;
	min-height: 44px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u177-4
{
	z-index: 21;
	width: 293px;
	min-height: 44px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 627px;
}

#pu144-4
{
	width: 0.01px;
	margin-top: 18px;
}

#u144-4
{
	z-index: 25;
	width: 293px;
	min-height: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u162-4
{
	z-index: 29;
	width: 293px;
	min-height: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u180-4
{
	z-index: 33;
	width: 293px;
	min-height: 118px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 627px;
}

#u210
{
	z-index: 37;
	width: 920px;
	background-color: #E3E3E3;
	padding-bottom: 102px;
	position: relative;
}

#u214
{
	z-index: 38;
	width: 351px;
	height: 852px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 264px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

